/*ul > li {
  display: inline;
  list-style-type: none;
  margin: 5px 15px 0 15px;
  background-color: goldenrod;
  padding: 5px;
}*/

.visible {
  display: block;
}

.hidden {
  display: none;
}

body {
  font-size: 2em;
  padding-top: 70px;
}

.input-group {
	width: 50%;
}